@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-card: #f5f5f5;
  --color-card-foreground: #262626;
  --color-primary: #2563eb;
  --color-primary-foreground: #ffffff;
  --color-muted: #737373;
  --color-border: #e5e5e5;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-card: #171717;
  --color-card-foreground: #e5e5e5;
  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;
  --color-muted: #a3a3a3;
  --color-border: #262626;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
